# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.pdf

# Plots/results
figs/*.png
figs/*.json

# OS
.DS_Store
Thumbs.db
